<template>
    <img if:true={isImg} src={resUrl} style={mediaHeightStyle} class="min-height"/>
    <div if:true={isVideo} class={videoContainerClassName} style={mediaHeightStyle}>
        <video autoplay muted loop>
            <source src={resUrl} type="video/mp4">
        </video>
    </div>
    <div class="overlay" if:true={isOverlay}></div>
    <c-hero-details
        class={heroDetailsPositionClass}
        title={title}
        slogan={slogan}
        record-name={buttonClickProductOrFamilyName}>
        <span slot="button">{buttonText}</span>
    </c-hero-details>
</template>