:host {
    position: relative;
    display: block;
}

img, video {
    position: relative;
    width: 100%;
}

.c-hero-center-default, .c-hero-center-left {
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
}

.c-hero-center-right {
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

.c-hero-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


div.overlay {
    background-color: black;
    opacity: 0.5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}


.video-container {
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  @media (max-width: 760px) {
    
    .min-height {
        min-height: 20rem;
    }

}