<template>
    
    <div class="slds section">
        
        <div class="header slds-size--12-of-12 slds-m-horizontal_medium">
            <section>
                <slot name="headerTop"></slot>
            </section>
        </div>

    <div class="header slds-grid slds-wrap slds-p-vertical_medium slds-m-horizontal_medium">
        
        <!-- LOGO -->
        <div class="slds-size--2-of-12 slds-medium-size--1-of-12 slds-large-size--1-of-12" onclick={handleNavigateToHome}>
            <div class="logoContainer">
            </div>
        </div>

        <div class="slds-size--10-of-12  slds-medium-size--11-of-12 slds-large-size--11-of-12 slds-p-left_large" >
            <div class="slds-grid slds-wrap slds-p-top_x-small">
                <div class="navBar slds-size--1-of-12 slds-medium-size--6-of-12 slds-small-size--1-of-12 slds-p-right_large">
                    <c-navigation-menu menu-set-dev-name={navigationMenuDevName}></c-navigation-menu>
                </div>
                <div class="slds-size--8-of-12 slds-medium-size--5-of-12 slds-small-size--9-of-12 searchBar">

                    <c-product-search search-page-name={searchPageBaseUrl} search-placeholder={searchPlaceholder}></c-product-search>
                    
                </div>
                <div class="slds-size--2-of-12 slds-medium-size--1-of-12 slds-small-size--2-of-12 slds-p-top_xxx-small">
                    <div class="slds-grid slds-wrap slds-m-right_medium absolute-right min-width">
                        <div class="slds-size--1-of-12 slds-medium-size--5-of-12 slds-small-size--6-of-12 slds-p-top_xx-small notifications">
                            <!--<forceCommunity:notifications/>-->
                        </div>
                        <div class="slds-size--11-of-12 slds-medium-size--7-of-12 slds-small-size--6-of-12">
                            <section>
                                <slot name="profileMenu"></slot>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    
    <div class="section slds-size--12-of-12 slds-m-horizontal_medium">
        <section>
            <slot name="headerBottom"></slot>
        </section>
    </div>
        
    
    
    <div class="section mainContentArea cViewPanel siteforceNapiliBody slds-m-horizontal_medium">
        <section>
            <slot></slot>
        </section>
    </div>
    <footer id="footer" class="footer theme-dark main-footer">
            <div class="slds-size--12-of-12">
                <section>
                    <slot name="footer"></slot>
                </section>
            </div>
    </footer>
        
        
    </div>

</template>