:host {

}

.header {
  background-color: var(--lwc-header-background-color);
}

.logoContainer {
  background-image: var(--lwc-brandLogoImage);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: block;
  outline: 0;
  width: 6rem;
  height: 3rem;
}

.section {
  background-color: var(--lwc-section-background-color);
}

 .selfServiceUserProfileMenu .profileName,
 .selfServiceUserProfileMenu .down-arrow {
  display: none;
}

 .navBar .comm-navigation__item a.slds-is-active {
  border-bottom: 2px solid rgb(57, 75, 133);
}

 .navBar .comm-navigation__item a:hover,
 .navBar .comm-navigation__item a.slds-is-active,
 .navBar .comm-navigation__item a.slds-is-active:hover {
  background-color: rgba(0,0,0,0) !important;
}

 .navBar .comm-navigation__item a {
  font-size: .8125rem;
}

.footer {
  background: black;
  color: white;
}

.footer .icon {
  width: 2rem;
}

.footer h2 {
font-size: 1.5em; 
color: white; 
}

.footer ul > li > a,
.footer > div > a {
font-size: 0.9rem;
color: white !important; 
text-decoration: none !important;
}

.footer .align_right{
text-align: right;
}

.footer ul > li:before {
content: '' !important; 
}

.verticalAlignTop {
  margin-top: 0;
  margin-bottom: auto;
}

.absolute-right {
position: absolute;
right: 0;
}

.min-width {
min-width: 5rem;
}

a.login-link > span.linkLabel{
color: black;
}

.productSearch > div > input[type="search"]{
border-radius: 25px;
background-color: #F5F5F5;
border: #F5F5F5;
}

.productSearch > div > input[type="search"]::placeholder{
color: #AAAAAA;
}

.productSearch > div > input[type="search"]:focus {
border-color: #C9C9C9;
box-shadow: #C9C9C9 0px 0px 3px;
}

.contentRegion {
padding: 0;
}

.homeMoreEventsButton {
background-color: black;
border: 0;
color: white;
border-radius: 3em !important;
padding-left: 3em;
padding-right: 3em;
padding-top: 0.7em;
padding-bottom: 0.7em;
}

.homeMoreEventsButton:hover, 
.homeMoreEventsButton:active,
.homeMoreEventsButton:focus {
color: white;
background-color: #3c3c3c;
text-decoration: none;
}

.footer {
  background-color: var(--lwc-footer-background-color);
}

@media (max-width: 1200px) {
  
 .searchBar {
    padding-right: 2em;
    padding-left: 2em;
}

}