:host {
    position: absolute;
    text-align: center;
}

h1, p {
    color: var(--lwc-colorTextButtonBrand, white);
    font-family: "KlavikaWebRegularCond", "Klavika", Helvetica;
    margin-bottom: 10px;
    font-weight: normal;
    letter-spacing: 0.14em;
    line-height: 1;
    font-size: 1.5rem;
    margin: 0.5em 0 0.74em;
    padding: 0;
    text-transform: uppercase;
}

h1 {
    letter-spacing: 0.03em;
    line-height: 0.88;
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
}

a {
    text-align: center;
    padding: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    /*text-transform: uppercase;*/
}

button:hover {
    background-position: right center;
    color: white;
}

.slds-button {
    border-radius: 3em !important;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }