<template>
    
    <div class="slds c-container">
        <lightning-layout multiple-rows="true">
            <template if:true={tileList}>
                <template if:true={tileList.length}>
                    <template for:each={tileList} for:item="tile">
                        <lightning-layout-item key={tile.id} padding="" class={tile.tilePaddingClass} size="12" medium-device-size={tileSize} small-device-size="12">
                            <div class="tileDiv">
                                <lightning-layout vertical-align="center" class="x-large tileHeight tileShadow" multiple-rows="true">
                                    <lightning-layout-item class={layoutItemClasses} size="12">
                                        <div class="height100 backgroundImageCover" style={tile.imageStyle}>
                                            
                                            <template if:true={showFullImage}>
                                                <div class="slds-p-around_medium height100 positionRelative">
                                                        <div class="overlay" style={tile.overlayStyle}></div>
                                                    <div class="text-align_center z-index-10 position_absolute center-around">
                                                        <h1 class="slds-m-bottom_x-small fontSize1_5em colorWhite" style={tile.titleTextStyle}>{tile.titleText}</h1>
                                                        <template if:true={tile.subtitleText}>
                                                            <h2 class="slds-m-bottom_x-small fontSize1em colorWhite" style={tile.subtitleTextStyle}>{tile.subtitleText}</h2>
                                                        </template>
                                                        <a href={tile.linkUrl}>
                                                            <button title="View More" type="button" class="slds-button slds-button_brand buttonCustomWhite colorBlack borderWhite">{tile.linkText}</button>
                                                        </a>
                                                    </div>
                                                    
                                                </div>  
                                            </template>
                                        </div>
                                    
                                    </lightning-layout-item>
                                    <template if:false={showFullImage}>
                                        <lightning-layout-item class="height50" size="12">
                                            <div class="slds-p-around_medium height100">
                                                <div style="text-align: center;">
                                                    <h1 class="slds-m-bottom_x-small fontSize1_5em colorBlack" style={tile.titleTextStyle}>{tile.titleText}</h1>
                                                    <template if:true={tile.subtitleText}>
                                                            <h2 class="slds-m-bottom_x-small fontSize1em colorWhite" style={tile.subtitleTextStyle}>{tile.subtitleText}</h2>
                                                    </template>
                                                    <a href={tile.linkUrl} target={tile.hreftarget}>
                                                        <button title="View More" type="button" class="slds-button slds-button_brand buttonCustom colorBlack borderBlack">{tile.linkText}</button>
                                                    </a>
                                                </div>
                                            </div>
                                        </lightning-layout-item>
                                    </template>
                                </lightning-layout>
                            </div>
                        </lightning-layout-item>
                    </template>
                </template>
            </template>
        </lightning-layout>
    </div>

        

</template>