.buttonCustom {
    background-color: #0000ff00;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    font-size: 1em;
}

.buttonCustomWhite {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 25px;
    font-size: 1em;
}

.colorBlack {
    color: black;
}

.colorWhite {
    color: white;
}

.borderBlack {
    border-color: black;
}

.borderWhite {
    border-color: white;
}

.height50 {
    height: 50%;
}

.height100 {
    height: 100%;
}

.backgroundImageCover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.fontSize1_5em {
    font-size: 1.5em;
}

.fontSize1em {
    font-size: 1em;
}

.tileHeight {
    height: 20rem; 
}

.tileShadow {
    box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.overlay {
    background-color: #000;
    opacity: .3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    z-index: 1;
}

.positionRelative {
    position: relative;
}

.text-align_center {
    text-align: center;
}

.z-index-10 {
    z-index: 10;
}

.position_absolute {
    position: absolute;
}

.center-around {
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.tileDiv:hover button {
    background-color: #c9c9c9;
    border-color: #c9c9c9;

}

.buttonCustom, .buttonCustomWhite {
    border-radius: 3em !important;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }

@media (max-width: 760px) {
    
    .no-horizontal-padding {
        padding-left: 0;
        padding-right: 0;
    }

}