<template>
        <div class="navbar slds-border_bottom">
            <nav role="navigation" class="slds-align_absolute-center">
               <ul class="slds-list_horizontal slds-has-dividers_right slds-has-block-links_space">
                    <li class="slds-is-relative slds-list__item">
                        <a href="javascript:void(0);" onclick={handleClickHome} title="Home" data-type="home" class="slds-container_fluid slds-truncate">
                            <lightning-icon icon-name="utility:home" size="x-small" alternative-text="Home" ></lightning-icon>
                        </a>
                    </li>
                    <template for:each={menuItems} for:item="item">
                       <li key={item.id} class="slds-item">
                           <c-navigation-item item={item}></c-navigation-item>
                       </li>
                   </template>
               </ul>
           </nav>
        </div>
    </template>