<template>
    <div draggable={draggable} ondragstart={handleDragStart}>
        <a onclick={handleClick}>
            <div class="content">
                <img src={pictureUrl} class="product slds-align_absolute-center" alt="Product picture">
                <div>
                    <p class="title slds-align_absolute-center">{name}</p>
                    <p class="slds-align_absolute-center">MSRP:&nbsp;
                        <lightning-formatted-number format-style="currency" currency-code="USD" value={msrp} class="price" maximum-fraction-digits="0"></lightning-formatted-number>
                    </p>
                </div>
            </div>
        </a>
        <div class="content">
            <c-assigned-topics assigned-topics={assignedTopics}></c-assigned-topics>
        </div>
    </div>
</template>