.content {
    padding: 8px;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
    text-align: center;
}

a {
	color: inherit;
}

img.product {
    height: 120px;
    max-width: initial;
    pointer-events: none;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
}