.slds-card {
    background: rgb(243, 242, 242);
}

.search-bar {
    display: block;
    margin: 0 0.5rem 0.3rem 0.5rem;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

c-product-tile {
    min-width: 200px;
    flex: 1;
}

c-paginator {
    display: block;
}

.custom-title {
    font-size: 18px;
}

.custom-tab {
    border-left: 1px solid rgb(212, 212, 212);
    padding: 0px;
}

.avatar-xx-large {
    width: 5rem;
    height: 5rem;
}

.border-radius-none {
    border-radius: 0;
}

.border-none {
    border: 0;
}