<template>
    <div class=" slds-p-around_x-small">
        <lightning-tabset variant="vertical" class="custom-tabset">
            <lightning-tab label="Products" class="custom-tab">
                <div class={cardClasses}>
                    <h2 class="slds-m-bottom--xx-small custom-title">
                        Products
                    </h2>
                <template if:true={products.data}>
                    <template if:true={products.data.records.length}>
                        <lightning-layout vertical-align="center" class="slds-m-horizontal_x-small">
                            <lightning-layout-item size="2" class="nav-info">
                                    {totalItemCount} Results • Sorted by Name
                            </lightning-layout-item>
                        </lightning-layout>
                        
                            <div class="content">
                                <template for:each={products.data.records} for:item="product">
                                    
                                    <c-product-tile if:true={isTile} key={product.Id} product={product} draggable={tilesAreDraggable} onselected={handleProductSelected}
                                    class="slds-m-around_x-small">
                                    </c-product-tile>

                                    <div if:false={isTile} key={product.Id} class="slds-size--1-of-1 slds-m-vertical_large">
                                        <a href="#" onclick={handleClick} data-recordid={product.Id}>
                                            <lightning-tile key={product.Id} label={product.Name} href="#" type="media">
                                                <lightning-avatar slot="media" src={product.Picture_URL__c} fallback-icon-name="custom:custom57" alternative-text={product.Name} class="avatar-xx-large"></lightning-avatar>
                                                <ul class="slds-list_horizontal slds-has-dividers_right">
                                                    <li class="slds-item">
                                                        MSRP:&nbsp;
                                                        <lightning-formatted-number format-style="currency" currency-code="USD" value={product.MSRP__c} class="price" maximum-fraction-digits="0"></lightning-formatted-number>
                                                    </li>
                                                </ul>
                                            </lightning-tile>
                                        </a>
                                        <c-assigned-topics assigned-topics={product.TopicAssignments}></c-assigned-topics>
                                    </div>

                                </template>
                            </div>

                    </template>
                    <template if:false={products.data.records.length}>
                        <template if:true={searchStringTooShort}>
                                <c-placeholder message="Your search term must have 2 or more characters."></c-placeholder>
                        </template>
                        <template if:false={searchStringTooShort}>
                                <c-placeholder message="There are no products matching your current selection"></c-placeholder>
                        </template>
                    </template>
                </template>
                <template if:true={products.error}>
                    <c-inline-message errors={products.error}></c-inline-message>
                </template>
                </div>
            </lightning-tab>
        </lightning-tabset>
        
    </div>
</template>