<template>
    <div class="createCaseContainer slds-p-around_large">
        <div class="slds-grid slds-gutters slds-m-bottom_medium">
            <!--<div class="slds-col slds-size_1-of-12">
                <lightning-icon icon-name="custom:custom59" alternative-text="Create Case" ></lightning-icon>
            </div>-->
            <div class="slds-col slds-size_11-of-12 no-padding">
                <h1 class="font-size-2-7em slds-p-left_medium">Create Case</h1>
            </div>
        </div>

        <lightning-record-edit-form object-api-name={caseObject} onsuccess={handleCaseCreated}>
            <lightning-messages></lightning-messages>
            <h3 class="slds-section__title slds-theme_shade slds-p-horizontal_small slds-m-bottom_x-small">Case Information</h3>
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field field-name={productField}></lightning-input-field>
                    <lightning-input-field field-name={priorityField}></lightning-input-field>
                </div>
                <div class="slds-col slds-size_1-of-2">
                    <lightning-input-field field-name={categoryField}></lightning-input-field>
                    <lightning-input-field field-name={reasonField}></lightning-input-field>
                </div>
            </div>
            <h3 class="slds-section__title slds-theme_shade slds-m-top_small slds-m-bottom_x-small slds-p-horizontal_small">Description Information</h3>
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-1">
                    <lightning-input-field field-name={subjectField}></lightning-input-field>
                    <lightning-input-field field-name={descriptionField}></lightning-input-field>
                </div>
            </div>
            <div class="slds-m-top_medium slds-p-horizontal_xx-small">
                <button title="Submit" type="submit" class="slds-button slds-button_brand submit-button heading_small">Submit</button>
            </div>
        </lightning-record-edit-form>
    </div>
</template>