.title-order, .submit-button {
    font-weight: bold;
}

.navigate-hidden {
    display: none;
}

.font-size-1-5rem {
    font-size: 1.5rem;
}

.font-size-2-7em {
    font-size: 2.7em;
}

.no-padding {
    padding: 0;
}

.createCaseContainer {
    background-color: #f6f6f6;
    border-radius: .25rem;
    box-shadow: 0 5px 15px 5px rgba(0,0,0,.08);
}

.submit-button {
    border-radius: 3em !important;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
  }

  h3 {
    padding-left: 0.25em !important;
    background-color: transparent;
}