<template>
    <template if:true={assignedTopics}>
        <template if:true={assignedTopics.length}>

            <template for:each={assignedTopics} for:item="assignedTopic">
                <a key={assignedTopic.Topic.Id} onclick={handleClick} data-topicid={assignedTopic.Topic.Id} class="text-white slds-m-top_x-small slds-m-right_xx-small inline-block">
                    <lightning-badge key={assignedTopic.Topic.Id} label={assignedTopic.Topic.Name} class="red-background text-white">
                    </lightning-badge>
                </a>
            </template>

        </template>
    </template>
</template>