<template>
    <div>
        <div onkeyup={handleKeyUpEnter}>
            <lightning-input
                name="enter-search"
                placeholder={searchPlaceholder}
                type="search"
                variant="label-hidden"
                value={queryTerm}
                
                onfocus={handleKeyUp}
                onchange={handleKeyUp}
                class="productSearch"
            ></lightning-input>
        </div>
                    
        <template if:true={products.data}>
            <template if:true={products.data.records.length}>
                <section class="slds-popover slds-nubbin_top-left slds-popover_full-width slds-is-absolute max-width" role="dialog">
                    <div class="slds-popover__body">
                        <div class="content slds-grid display-inline-block full-width">
                            <template for:each={products.data.records} for:item="product">
                                <div key={product.Id} class="slds-size--1-of-1 slds-m-vertical_large slds-p-left_xx-small highlight">
                                    <a href="#" onclick={handleClick} data-recordid={product.Id}>
                                        <lightning-tile key={product.Id} label={product.Name} href="#" type="media">
                                            <lightning-avatar slot="media" src={product.Picture_URL__c} fallback-icon-name="custom:custom57" alternative-text={product.Name} class="avatar-xx-large"></lightning-avatar>
                                            <ul class="slds-list_horizontal slds-has-dividers_right">
                                                <li class="slds-item">
                                                    MSRP:&nbsp;
                                                    <lightning-formatted-number format-style="currency" currency-code="USD" value={product.MSRP__c} class="price" maximum-fraction-digits="0"></lightning-formatted-number>
                                                </li>
                                            </ul>
                                        </lightning-tile>
                                    </a>
                                    <c-assigned-topics assigned-topics={product.TopicAssignments}></c-assigned-topics>
                                </div>
                            </template>
                        </div>
                    </div>
                </section>
            </template>
            <template if:true={noSearchResults}>
                <section class="slds-popover slds-nubbin_top-left slds-popover_full-width slds-is-absolute max-width" role="dialog">
                    <div class="slds-popover__body">
                        <template if:true={searchStringTooShort}>
                                <c-placeholder message="Your search term must have 2 or more characters."></c-placeholder>
                        </template>
                        <template if:false={searchStringTooShort}>
                                <c-placeholder message="There are no products matching your current selection"></c-placeholder>
                        </template>
                    </div>
                </section>
            </template>
        </template>
    </div>
    
    <template if:true={products.error}>
        <section class="slds-popover slds-nubbin_top-left slds-popover_full-width slds-is-absolute max-width" role="dialog">
            <div class="slds-popover__body">
                <c-inline-message errors={products.error}></c-inline-message>
            </div>
        </section>
    </template>
    
</template>