.max-width {
    max-width: 40%;
}

.display-inline-block {
    display: inline-block;
}

.full-width {
    width: 100%;
}

.highlight:hover {
    border-left: 4px solid #c23335;
}

@media (max-width: 767px) {
    
    .max-width {
        max-width: 60%;
    }
  
  }