.THIS .logoContainer {
    background-image: t('url(' + brandLogoImage + ')');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: block;
    outline: 0;
    width: 6rem;
    height: 3rem;
  }

  .THIS .selfServiceUserProfileMenu .profileName,
  .THIS .selfServiceUserProfileMenu .down-arrow {
    display: none;
  }

  .THIS .navBar .comm-navigation__item a.slds-is-active {
    border-bottom: 2px solid rgb(57, 75, 133);
  }

  .THIS .navBar .comm-navigation__item a:hover,
  .THIS .navBar .comm-navigation__item a.slds-is-active,
  .THIS .navBar .comm-navigation__item a.slds-is-active:hover {
    background-color: rgba(0,0,0,0) !important;
  }

  .THIS .navBar .comm-navigation__item a {
    font-size: .8125rem;
  }

.THIS .footer {
    background: black;
    color: white;
}

.THIS .footer .icon {
    width: 2rem;
}

.THIS .footer h2 {
  font-size: 1.5em; 
  color: white; 
}

.THIS .footer ul > li > a,
.THIS .footer > div > a {
  font-size: 0.9rem;
  color: white !important; 
  text-decoration: none !important;
}

.THIS .footer .align_right{
  text-align: right;
}

.THIS .footer ul > li:before {
  content: '' !important; 
}

.THIS .verticalAlignTop {
    margin-top: 0;
    margin-bottom: auto;
}

.THIS .absolute-right {
  position: absolute;
  right: 0;
}

.THIS .min-width {
  min-width: 5rem;
}

.THIS a.login-link > span.linkLabel{
  color: black;
}

.THIS .productSearch > div > input[type="search"]{
  border-radius: 25px;
  background-color: #F5F5F5;
  border: #F5F5F5;
}

.THIS .productSearch > div > input[type="search"]::placeholder{
  color: #AAAAAA;
}

.THIS .productSearch > div > input[type="search"]:focus {
  border-color: #C9C9C9;
  box-shadow: #C9C9C9 0px 0px 3px;
}

.THIS .contentRegion {
  padding: 0;
}

.THIS .homeMoreEventsButton {
  background-color: black;
  border: 0;
  color: white;
  border-radius: 3em !important;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
}

.THIS .homeMoreEventsButton:hover, 
.THIS .homeMoreEventsButton:active,
.THIS .homeMoreEventsButton:focus {
  color: white;
  background-color: #3c3c3c;
  text-decoration: none;
}

@media (max-width: 1200px) {
    
  .THIS .searchBar {
      padding-right: 2em;
      padding-left: 2em;
  }

}